body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ddd;
    margin-top: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

li button {
    background: red;
    border: none;
    color: white;
    padding: 3px 6px;
}
